header{
    background-color: dimgrey;
    height: 70px;}

main{background-color: #4F4F4F ;
    height: auto;}

aside{background-color: #4F4F4F;
    height: auto;}

footer{background-color: #808080;
height: 50px;}

.card-body{margin-bottom: 5%; margin-top: 3%;}
.card{margin-top: 10%; margin-bottom: 10%;}

p{color: aliceblue;}
h2{color: aliceblue;}
.card-text{color: black;}

